nav{
    padding-left: 50px;
}

.header-background {
    background-image: url( "file:///Users/GriffinTrent/Projects/euro-cigar/img/cigars-header.png");
    height: 500px;
}

.header-text {
font-size: 75px;
color: firebrick;
text-shadow: 2px 2px white;
padding-top: 250px;
text-align: center;
}

.button {
    width: 200px;
    height: 80px;
    border-radius: 5px;
    border-color: yellow;
    background: green;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: yellow;
    line-height: 80px
}

.1 div {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}